.text-2xl {
    font-size: 1.5rem; 
    font-weight: bold; 
}

.header {
    display: flex;
    align-items: center;
}

.header-logo {
    margin: 10px;
    margin-left: 10rem;
}

.header-buttons {
    display: flex;
    flex: content;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 12rem;
    margin-left: auto;
    margin-right: 10rem;
}

.hero {
    display: flex;
}

.hero-main-text {
    display: flex;
    flex: content;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 20rem;
    margin: auto;
}

.name-text {
    display: flex;
    flex: content;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products{
    display: flex;
    flex-direction: column;
    flex: content;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 20rem;
    margin: auto;
}

.product-header


.product-info {
    text-align: center;
}
        

body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0; 
}