{% extends 'base.html' %}
{%block content%}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Car Commerce</title>
</head>
    <body>
        <div class="header">
            <div class="header-logo">
                <h1>Car Commerce</h1>
            </div>
            <div class="header-buttons">
                <p>Menu</p>
                <p>Cart</p>
                <p>Account</p>
            </div>
        </div>
        
        <div class="hero-main-text">
            <p>{{ name }}</p>
            <p>{{ price }}</p>
            <p>{{ description }}</p>
        </div>

        <div class="name-text">
            <p>{{ nama }}</p>
            <p>{{ npm }}</p>
            <p>{{ kelas }}</p>
        </div>
        <div class="products">
            {% if not products %}
            <p>Belum ada product</p>
            {% else %}
            <table>
            <tr class="product-header">
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
    
            {% for product in products %}
            <tr class="product-info">
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
            </tr>
            {% endfor %}
            </table>
            {% endif %}
    
            <br />
    
            <a href="{% url 'main:create_product' %}">
            <button>Add Product</button>
            </a>
            <a href="{% url 'main:logout' %}">
                <button>Logout</button>
            </a>
            <h5>Sesi terakhir login: {{ last_login }}</h5>
        </div>
        {% endblock content %}
        <!-- <div class="hero">
            <div class="hero-main-text">
                <h1>
                    Welcome to Car Commerce!
                </h1>
            </div>
        </div> -->
        <script>
            
        </script>
    </body>
</html>