{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Car Commerce</title>
</head>
    <body>
        <div class="header">
            <div class="header-logo">
                <h1>Car Commerce</h1>
            </div>
            <div class="header-buttons">
                <p>Menu</p>
                <p>Cart</p>
                <p>Account</p>
            </div>
        </div>
        <div class="hero">
            <div class="hero-main-text">
                <h1>
                    Welcome to Car Commerce!
                </h1>
            </div>
        </div>
        <script>
            
        </script>
    </body>
</html>